.DS_Store
node_modules

# local env files
.env.local
.env.*.local
# Dependency directories
node_modules

# don't upload node_modules.rar
node_modules.rar

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
